<table mat-table [dataSource]="todos" class="mat-elevation-z8">
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="createdOn">
    <th mat-header-cell *matHeaderCellDef>Created on</th>
    <td mat-cell *matCellDef="let element">{{ element.createdOn | date:'yyyy-MM-dd' }}</td>
  </ng-container>

  <ng-container  matColumnDef="archive">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element;"><button *ngIf="!archived" mat-stroked-button (click)="archive(element.id)">Archive</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="COLUMN_DEF"></tr>
  <tr mat-row *matRowDef="let row; columns: COLUMN_DEF;"></tr>
</table>
